:host {
  display: block;
  padding: 8px 0;
}

.details, details:visited, details:active {
  color: var(--accent-color);
  text-decoration: none;
  margin-left: 4px;
}

#label {
  margin-left: 16px;
}

#label::before {
  content: "•";
  margin-right: 16px;
}

pre {
  line-height: initial;
  word-break: break-all;
  white-space: pre-wrap;
  color: var(--accent-color);
}

.hidden {
  display: none;
}