:host {
  display: block;
  max-height: 240px;
  overflow: scroll;
}

pre {
  line-height: initial;
  word-break: break-all;
  white-space: pre-wrap;
  color: var(--accent-color);
  text-align: left;
}

pre.error {
  color: var(--error-color, red);
}
