:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 8px 16px;
}

img {
  width: 200px;
  height: 200px;
  margin-right: 8px;
  outline: none;
}

h2 {
  text-transform: uppercase;
  color: var(--accent-color);
  font-weight: 300;
  letter-spacing: 3pt;
  font-size: 1.285em;
}

#description {
  letter-spacing: 0.5pt;
  font-size: 1em;
}

a {
  letter-spacing: 2pt;
  color: var(--accent-color);
  font-size: 0.85em;
}