:host {
  all: initial;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@keyframes entry {
  0% {
    transform: translateY(120px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.enter-animation, .leave-animation {
  will-change: transform, opacity;
  animation: entry 250ms forwards;
}

.leave-animation {
  animation-direction: reverse;
}
