:host {
  display: flex;
  flex-direction: column;
  --color: #2CBFD1;
  --size: 150px;
  color: var(--color);
  text-align: center;
}

@keyframes reveal {
  0% { clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%) }
  100% { clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%) }
}

svg {
  width: var(--size);
  height: var(--size);
  fill: var(--color);
}

svg #bg {
  opacity: 0.4;
}

svg #clip {
  animation: reveal 1s linear alternate infinite;
}
